.bdy {
  background-color: black;
}

.contacthead {
  color: crimson;
}

.contactemail {
  color: crimson;
  position: relative;
  right: -701px;
  top: 50px;
}

.contactdowntext {
  color: crimson;
  position: relative;
  right: -700px;
  top: 100px;
}

.hero-body {
  background-color: black;
}

.hero-head {
  background-color: black;
}

#opening {
  color: crimson;
  font-size: 100px;
}