.display-font{
  font-family: 'Caveat', cursive;
}

.LoginSignup {
  font-family: 'Patua One', cursive;
}

.important {
  position: relative;
  width: 33%;
  font-size: 85px;
  top: -60px;
}

.hero-body {
  background-color: black;
}

.hero-head {
  background-color: black;
}

.hero-foot {
  background-color: black;
}


.name {
  color: crimson;
  font-family: 'Patua One', cursive;
  right: -450px;
  top: 20px;
}

.fot {
  color: crimson;
  font-family: 'Patua One', cursive;
  right: 500px;
}

.mainpage {
  color: crimson;
  background-color: aqua;
}

.foot {
  position: absolute;
  top: -90px;
  right: -100px;
}

.linkedin {
  position: relative;
  left: -40px;
}

.twitter {
  position: relative;
  right: -0px;
}

#opening {
  color: crimson;
}

.work {
  position: relative;
  right: -100px;;
}

.contact {
  position: relative;
  right: -200px;
}

.tagtext {
  position: relative;
  right: 240px;
}

.tagtext2 {
  position: relative;
  right: 470px;
}

.downtext {
  top: 80px;
  right: -170px;
}

.companylink {
  color: crimson;
  position: relative;
  left: -250px;
}